.add-task-form {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
  align-items: center;
}

.mat-form-fild {
  flex: 1;
}

.empty-state{
  text-align: center;
  padding: 48px;
  color: #666;
}

.empty-state mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}
